
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}


header {
  background-color: #6A3DB4;
  color: white; 
  padding: 1rem;
  text-align: center;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

nav button {
  padding: 10px 20px;
  background-color: #661d94;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

nav button[aria-pressed="true"] {
  background-color: #7B1FA2; 
  outline: 2px solid white; 
}



main {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.temple-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.temple-card {
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease;
}

.temple-card:hover {
  transform: scale(1.02);
}

.temple-card h2 {
  font-size: 1.2rem;
  color: #4A148C;
  margin-bottom: 0.5rem;
}

.temple-card p {
  margin: 0.3rem 0;
}


.temple-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 0.5rem;
}


footer {
  background-color: #4A148C;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
